<div class="preloader fixed bottom-0 top-0 left-0 right-0 bg-white z-50">
   <div class="w-16 h-16 absolute bottom-0 top-0 left-0 right-0 m-auto"><img src="{{asset 'images/preloader.gif'}}"
      alt="title"></div>
</div>