{{!< default}} {{#post}} {{!-- Breadcrumb Navigation --}} {{> breadcrumb}}

   {{> hero-section page_style="image_on_right"}}

   <section class="single-page-area">
      <div class="container mx-auto ">
         <div class="gh-content prose lg:prose-lg dark:prose-invert">
            {{content}}
         </div>
      </div>
      </div>
   </section>
   {{/post}}